*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background-color: rgb(224, 224, 224);
}

#header{
    background-color: rgb(28, 31, 31);
    display: flex;
    padding: 9px;
    position: fixed;
    width: 100%;
    height: auto;


}

#header div img{
  height: 30px;
  width: 30px;
  margin: 0px 13px 0px 0px;
  background-color: white;
  border-radius:35px ;
}

#header div h3{
  color: white;
  font-size: 24px;
}

#header div{
  display: flex;
  margin-right: 50%;
}

#nav-bar {

  z-index: 999;
}


#nav-bar li {
  display: inline;
  list-style-type: none;
  margin: 10px;

  

}

#nav-bar li a{
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: x-large;
  
  
}

#nav-bar li a:hover{
  
  animation-name: cambiocolor;
  animation-duration: 1000ms;
  border-radius: 10px;
  padding: 9px 0px ;
  animation-fill-mode: forwards;
  color: black;
}

#section-email{
    padding: 50PX;
    text-align: center;
    

}

#section-email h1{
  padding: 10px;
  font-size: 50px;
  font-weight: 100;
}

#section-email form #email{
  padding: 10px 50px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  border: 0;

}

#section-email form #submit {
  padding: 10px 50px;
  font-size: 20px;
  border: 3px;
  border-radius: 5px;
  background-color: rgb(190, 209, 14);
  color: white;

  
}

#section-email form #submit:hover{
  
  border-radius: 5px;
 
  border: 5px;

  color: white;
  animation-name: cambiocolor2;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

#Features h3{
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 100;
}
#Features li{
  padding: 10px;
  text-align: center;
}

#howWork{
  margin-top: 5%;
  text-align: center;
}
#howWork h3{
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 10px;
}

#howWork  iframe{


}

#Pricing h3{
  text-align: center;
  margin: 10px;
  font-size: 40px;
  font-weight: 100;

}

#Pricing #div-flex{

  display: flex;
  height: 500px;

}

#p1{
  margin: 10px;
  border-style: double;
  border-color: black;
  width: 50%;
  height: 50%;
  text-align: center;
}

#p1  img{
  
  height: 70%;
  width: 70%;
}

#p1 p {

  font-size: 20px;
 
}

#p2{
  margin: 10px;
  border-style: double;
  border-color: black;
  width: 50%;
  height: 50%;
  text-align: center;
}

#p2 img{
  
  height: 70%;
  width: 70%;
}
#p3{
  margin: 10px;
  border-style: double;
  border-color: black;
  width: 50%;
  height: 50%;
  text-align: center;
}

#p3 img{
  
  height: 70%;
  width: 70%;
}




@keyframes cambiocolor2{
  100%{
    background-color: rgb(128, 141, 12);
  }
}

@keyframes cambiocolor{
  100%{
    background-color: rgb(255, 255, 255);
  }
}

@media (max-width: 600px){


}


