body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

header{
    background-color: black;
}
#header-img{

    height: 65px;
    width: 100px;

}

.nav-link{
    color: white;
    text-decoration: dashed; 
    font-size: large;
    margin-left: 10%;

}
.nav-link:hover{
    box-shadow: 0px 0px 20px white;}

#nav-bar{
    text-size-adjust: 10% ;
    float: right;
    margin-top: 23px;
    inline-size: 50%;
    display: flex;
}

#div-form{
 
    margin-top: 35px;
    margin-left: 40%;

}

@media screen and (max-width: 600px) {
    #div-form{
        margin-left: 10%;
    }
}
    


 #email{
     margin-top: 10px;
    }

#textoArribaEmail{
    
    margin-bottom: 10px;
    margin-left: 7%;
}
#submit{
    margin-top: 10px;
    margin-left:50px;
    background-color: gold;
    box-shadow: 0px 1.5px 10px rgb(90, 90, 90);
}

 